# ── Core ──
Django==5.2.11
python-dotenv==1.2.1

# ── Database ──
dj-database-url==3.1.2
psycopg2-binary==2.9.11

# ── Static files ──
whitenoise==6.12.0

# ── Production server ──
gunicorn==25.1.0

# ── App dependencies ──
beautifulsoup4==4.14.3
soupsieve==2.8.3
openpyxl==3.1.5
et-xmlfile==2.0.0
tqdm==4.67.3
