ruff==0.12.9
mypy==1.17.1
pytest==8.4.1
pytest-django==4.9.0
coverage==7.10.6
bandit==1.8.6
pip-audit==2.9.0
pre-commit==4.3.0
django-stubs==5.2.2
types-requests==2.32.4.20250809
beautifulsoup4==4.13.5
python-dotenv==1.1.1
